Finagle Request `CookieMap` only takes last cookie when Cookie $Version is provided

I noticed that the $Version parameter in cookies causes (what I think is) unexpected behavior in Finatra's parsing of the cookies from the request.

Finatra / Finagle version: `19.6.0`.

### Expected behavior

Pass a Cookie as a Request with Versions:
`"Cookie: $Version=1;firstCookie=value1,$Version=1;secondCookie=value2,$Version=1;thirdCookie=value3"`

`request.cookies` `CookieMap` should have size 3, with the 3 different cookies.

### Actual behavior

`request.cookies` `CookieMap` has only 1 cookie-- consistently the last cookie, `thirdCookie`.

### Steps to reproduce the behavior

1. Finatra `19.6.0` server with a `POST` endpoint
2. Pass a request with a Cookie with Cookie versions (supported by RFC 2109)

Hey @deployop, thanks for the report. I'll take a look into this soon.

Hey @deployop, here's my current understanding of the situation.

This style of cookie was introduced in RFC 2109 and then updated in RFC 2965 in October 2000. It was then considered obsolete as of 2011 when RFC 6265 came out. Considering that this hasn't come up before (that I'm aware of), and it's been considered obsolete for almost 10 years now, I don't see us changing Finagle to incorporate this. 

I'm guessing that you're working with legacy systems here and that that is causing a problem. Is that accurate? If so, I'm wondering what would allow you to work with this without us adding in full blown support for something that old.

Thanks

Hey @ryanoneill! Thanks for the context!

I'm using avax.ws.rs / Jersey clients.
I could manually construct a Cookie value by String concatenating the values, since I know that Finagle is taking only the last cookie.

It's not a critical blocker, but at the same time, that approach seems very hacky to do across multiple production projects.

So, the issue isn't that it takes the last cookie. The issue is that we don't support the '$Version' attribute at all. This was something that was part of those older style cookies that is not part of RFC 6265. And if we encounter an unknown attribute, we treat that particular cookie as invalid and throw it out.

As an example from a Scala repl with finagle/finagle-http
```
import com.twitter.finagle.http.Request

val request = Request("/")
request.headerMap.add("Cookie", "$Version=1;firstCookie=value1,$Version=1;ryanCookie=hello;secondCookie=value2,$Version=1;thirdCookie=value3")
println(request.cookies.keys)
Set(ryanCookie, thirdCookie)
```


hmm, that's quite strange...

If you don't think Finage will support this, feel free to close and we'll come up with a workaround.

Yeah, I don't see us adding support for '$Version' at this stage, so I'm going to close this issue.